
.box {
  height: 50px;
  width: 50px;
  border: 1px solid black;
}
html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
}
.wrap{
  height: 100%;
  display:flex;
  flex-direction: column;
  
}