
@import url('https://fonts.googleapis.com/css?family=Montserrat|Nunito+Sans');
@import url('https://fonts.googleapis.com/css?family=Source+Code+Pro');

/* CSS Reset */
*, *::before, *::after {
  box-sizing: border-box;
}


html, body, button, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

body {
  background-color: #232323;
  font-family: 'Montserrat', sans-serif;
}
.mainTitle{
  height: 135px;
  text-align: center;
  background: #5381B0;
  color: #ffffff;
  font-size: 17px;
  padding: 20px 0;
  font-weight: 100;
  text-transform: uppercase;
}
.mainTitle span{
  font-size: 50px;
  line-height: 56px;
}
main{
height: max-content;
display: block;
}
.scorebox{
  margin-top:15px;
  display: block;
  color:#ffffff;
  text-align: center;
  text-transform: uppercase;
}
.Question{
  position: relative;
  top: 30%;
  text-align: center;
  display: block;
}
.rgbQ{
  font-size: 25px;
  font-family: 'Source Code Pro', monospace;
  color: white;
}
.boxes{
  margin: auto;
  width: 230px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.box{
  background: white;
  margin-top: 50px;
  text-align: center;
  height: 50px;
  width: 50px;
  border-radius: 50%;
}
.answer{
  background: blue;
  display: inline-block;
  margin: auto;
  position: absolute;
  top: 0;
  left: 0;
  /* display: none; */
  width: 100%;
  height: 100%;
  display: none;
}
.answerbox{
  vertical-align: middle;
  margin: auto;
  transform: translateY(230%);
  width: 400px;
  height: 150px;
  font-weight: 900;
}
.answerbox span{
  display: inline-block;
  margin: auto;
  font-size: 55px;
  color: #ffffff;
  margin-bottom: 40px;
}
.answerbox button{
  border: 1px solid #ffffff;
  border-radius: 5px;
  color: #ffffff;
  background:transparent;
  padding: 8px;
}